*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

img{
  max-width: 100%;
}


.container{

}

.faq__question__question{
  display: flex;
  align-items: center;
}

.faq__question__question svg{
  width: 30px;
}